body, html {
    font-family: Arial, Helvetica, sans-serif;
    cursor: url('assets/pointing-finger.png'), auto;
}

.center-line {
    border: none;
    border-top: 1.5px solid blue;
    width: 370%; 
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%);
}

.text-container {
    position: absolute;
    top: 50%;
    left: 12%; 
    transform: translate(-50%, -50%);
    text-align: left;
    z-index: 1; 
}

h1 {
    font-size: 1.5em;
    font-weight: 400;
    font-style: normal;
}

p {
    font-size: 0.9em;
    font-weight: 400;
    font-style: normal;
}

.image-container {
    text-align: center;
    position: relative;
    margin: 10px;
    left: 75%;
    /* when link applied left: 62%; */
    transform: translateX(-50%);
}

.image-container img {
    filter: grayscale(100%); 
    /* transition: filter 0.3s ease;  */
}

.image-container img:hover {
    filter: grayscale(0%);
}

.image-wrapper {
    position: relative;
}

.image-text {
    font-size: 0.9em;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    position: absolute;
    top: 10px;
    left: 10px;
    transform: translateX(-50%);
    opacity: 1;
    z-index: 1;
}

.image-wrapper:hover .image-text {
    opacity: 1; 
}

/* .image-container img {
    cursor: url('assets/ear.png'), auto;
} */

.sdcard {
    width: 9%; 
    height: auto;
    position: absolute; 
    margin: 25px; 
    margin-top: 315px; 
}

.mixtape {
    width: 20%; 
    height: auto;
    position: absolute; 
    margin: 25px; 
    margin-top: 280px; 
}

.cd-player {
    width: 35%; 
    height: auto;
    position: absolute; 
    margin: 25px; 
    margin-top: 210px; 
}

.iriver-mp3 {
    width: 11%; 
    height: auto;
    position: absolute; 
    margin: 25px; 
    margin-top: 295px; 
}

.mickey-mp3 {
    width: 11%; 
    height: auto;
    position: absolute; 
    margin: 25px; 
    margin-top: 300px; 
}

.iphone3gs {
    width: 16%; 
    height: auto;
    position: absolute; 
    margin: 25px; 
    margin-top: 220px;
}

.galaxy-m {
    width: 23%; 
    height: auto;
    position: absolute; 
    margin: 25px; 
    margin-top: 230px;
}

.lg-slider {
    width: 25%; 
    height: auto;
    position: absolute; 
    margin: 25px; 
    margin-top: 230px; 
}

.ipod-nano {
    width: 16%; 
    height: auto;
    position: absolute; 
    margin: 25px; 
    margin-top: 240px; 
}

.ipod-touch {
    width: 20%; 
    height: auto;
    position: absolute; 
    margin: 25px; 
    margin-top: 220px; 
}

.iphone6s {
    width: 19%; 
    height: auto;
    position: absolute; 
    margin: 25px; 
    margin-top: 220px; 
}

.iphone8plus {
    width: 22%; 
    height: auto;
    position: absolute; 
    margin: 25px; 
    margin-top: 245px; 
}

.iphonexsmax {
    width: 20%; 
    height: auto;
    position: absolute; 
    margin: 25px; 
    margin-top: 245px; 
}

.iphone13promax {
    width: 23%; 
    height: auto;
    position: absolute; 
    margin: 25px; 
    margin-top: 245px; 
}

.sdcard { transform: rotate(-9deg); top: 60px; left: 0;}
.mixtape { transform: rotate(3deg); top: 55px; left: 15%;}
.cd-player { transform: rotate(-5deg); top: 40px; left: 40%;}
.iriver-mp3 { transform: rotate(0deg); top: 65px; left: 79%;}
.mickey-mp3 { transform: rotate(5deg); top: 65px; left: 97%;}
.iphone3gs { transform: rotate(-2deg); top: 5px; left: 115%;}
.galaxy-m { transform: rotate(2deg); top: -15px; left: 135%;}
.lg-slider { transform: rotate(-1deg); top: 45px; left: 162%;}
.ipod-nano { transform: rotate(-5deg); top: 50px; left: 192%;}
.ipod-touch { transform: rotate(4deg); top: 10px; left: 212%;}
.iphone6s { transform: rotate(-5deg); top: -45px; left: 237%;}
.iphone8plus { transform: rotate(3deg); top: -135px; left: 262%;}
.iphonexsmax { transform: rotate(-2deg); top: -135px; left: 292%;}
.iphone13promax { transform: rotate(5deg); top: -145px; left: 320%;}

.old-earbuds {
    width: 8%;
    display: block;
    margin: 0 auto;
}

.timeline {
    position: absolute;
    bottom: 30px;
    left: 135%;
    transform: translateX(-30%);
    border-radius: 10px;
    overflow-x: auto;
    white-space: nowrap;
    opacity: 100%;
    color: gray;
}

.timeline-item {
    display: inline-block;
    vertical-align: top;
    width: auto;
    margin-right: 230px;
}

.timeline-date {
    font-weight: bold;
    margin-bottom: 20px;
    display: block; 
}

.timeline-content {
    padding: 10px;
    margin-bottom: 20px; 
}