body, html {
    margin: 0;
    height: 100vh;
    background-color: #e74c3c;
    /* background: url("assets/miami.png") no-repeat center top/cover; */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    font-family: "amandine", sans-serif;
    font-weight: 900;
    font-style: normal;
    color: white;
    text-align: center;
    font-size: 2.8vw;
    padding: 7px;
    margin: 0;
    margin-bottom: 50px; 
}

.begin {
    font-family: "soleil", sans-serif;
    font-weight: 900;
    font-style: normal;
    background-color: none;
    color: white;
    padding: 20px 40px; 
    font-size: 4vw;
    text-decoration: none;
    cursor: pointer;
}

.begin:hover {
    color: black;
}