body, html {
    margin: 0;
    height: 100vh;
    background-color: black;
    background-image: url("assets/noisebkgd.png");
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    font-family: "amandine", sans-serif;
    font-weight: 900;
    font-style: normal;
    color: white;
    text-align: center;
    font-size: 2.8vw;
    padding: 7px;
    margin: 0;
    margin-bottom: 50px; 
}

@keyframes moveButton {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(28px); 
    }
    100% {
        transform: translateX(0);
    }
}

.begin {
    font-family: "soleil", sans-serif;
    font-weight: 900;
    font-style: normal;
    background-color: none;
    color: white;
    padding: 20px 40px;
    font-size: 4vw;
    text-decoration: none;
    cursor: pointer;
    animation: moveButton 3s infinite;
}

.begin:hover {
    color: #e74c3c;
    animation: none;
}
