body {
    font-family: "termina", sans-serif;
    display: block;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: aliceblue;
}

.button-container {
    position: fixed;
    top: 7px;
    right: 4px;
    left: 4px;
    z-index: 999;
}
  
.forward {
    background-color: lightgoldenrodyellow;
    border: 1.5px solid #422800;
    border-radius: 25px;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-family: "indivisible", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 12px;
    padding: 0 10px;
    line-height: 25px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 4px;
}
  
.backward {
    background-color: lightgoldenrodyellow;
    border: 1.5px solid #422800;
    border-radius: 20px;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-family: "indivisible", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 12px;
    padding: 0 10px;
    line-height: 25px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 4px;
}
  
.forward:hover, .backward:hover {
    background-color: rgb(170, 232, 255);
    color: #b10000;
} 

p {
    font-family: "termina", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 17px;
}

.text {
    text-align: center;
}

.jumbotron {
    background-image: url('assets/airplane-view.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 0;
    display: block;
    height: 100vh;
}

.intro-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0 10px;
}
  
.intro {
    text-align: left;
}

.main-title {
    font-family: "termina", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 4.1vw;
    color: white;
    text-shadow: 2px 2px 3px rgb(119, 119, 119);
}

.jumbotron2 {
    background-image: url('assets/airplane-view.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 0;
    display: block;
    height: 105vh;
}

.description {
    font-family: "termina", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 22px;
    color: white;
    padding: 370px;
    padding-top: 20px;
    padding-bottom: 280px;
    text-shadow: 2px 2px 4px rgb(91, 91, 91);
}

.instruction {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#instructions-container {
    text-align: center;
    margin-bottom: 50px;
}

.winter {
    font-family: "termina", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 50px;
    color: darkgreen;
}

.instruction-button {
    font-family: "termina", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    padding: 20px;
    margin: 10px;
    border: none;
    background: none;
    cursor: pointer;
}

.instruction-image {
    display: none;
    max-width: 30%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto 
}

.fall23 {
    border-radius: 70px;
    max-width: 25%;

}

.harry, .dyson {
    border-radius: 110px;
    max-width: 25%;
}

.instruction-text {
    font-family: "termina", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: none;
    font-size: 20px;
    margin-top: 20px; 
    color: #333;
}

button {
    padding: 10px 10px;
    font-size: 15px;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    background-color: rgb(0, 66, 110);
    color: black;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ffec74;
    color: #333;
}

#countdown-container {
    text-align: center;
    /* margin-top: 100px; */
    margin-bottom: 100px; 
}

#countdown-button {
    font-family: "termina", sans-serif;
    font-weight: 600;
    font-style: normal;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    background-color: rgb(0, 66, 110);
    color: #fff;
    margin: 10px;
    font-size: 18px;
    cursor: pointer;
}

.countdown-result {
    font-family: "termina", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    padding: 30px;
    padding-left: 150px;
    padding-right: 150px;
}

.d-day-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.empty-space {
    height: 160px; 
}

/* .video-container {
    position: relative;
    width: 300px;
    height: 200px;
    overflow: hidden;
}

.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay-text {
    font-family: "termina", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    z-index: 1;
}

.overlay-text:hover + .video-container video {
    opacity: 1;
}

.video-container video {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.video {
    z-index: 0;
} */