body {
  background-color: rgb(224, 240, 255);
  font-family: "dupincel-variable", sans-serif;
  background-image: url("assets/gradient1.webp");
  background-repeat:no-repeat;
  background-size: 4000px;
}

.button-container {
  position: fixed;
  top: 7px;
  right: 4px;
  left: 4px;
  z-index: 999;
}

.forward {
  background-color: lightgoldenrodyellow;
  border: 1.5px solid #422800;
  border-radius: 25px;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-family: "indivisible", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 12px;
  padding: 0 10px;
  line-height: 25px;
  text-align: center;
  position: absolute;
  top: 0;
  right: 4px;
}

.backward {
  background-color: lightgoldenrodyellow;
  border: 1.5px solid #422800;
  border-radius: 20px;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-family: "indivisible", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 12px;
  padding: 0 10px;
  line-height: 25px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 4px;
}

.forward:hover, .backward:hover {
  background-color: rgb(170, 232, 255);
  color: #b10000;
}

/*
.forward:active, .backward:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}
*/

h1 {
  text-align: center;
  font-size: 63px;
  font-family: "termina", sans-serif;
  font-weight: 800;
  font-style: normal;
  letter-spacing: 1px;
  background-image: repeating-radial-gradient(ellipse, #fab965, #ff3d17, #316dc6);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-shadow: 1px 1px 3px rgb(255, 174, 187);
}

h3 {
  text-align: center;
  font-size: 18px;
  font-family: "graphie", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: rgb(66, 66, 66);
  letter-spacing: 1px;
}

.center-box {
  background-color: rgb(0, 4, 37); 
  padding: 10px;
  max-width: 85%; 
  z-index: 1;
  text-align: center;
  justify-content: space-evenly;
  cursor: url("https://img.icons8.com/external-icongeek26-linear-colour-icongeek26/64/external-camera-photography-icongeek26-linear-colour-icongeek26-1.png"), auto;
  margin: 0 auto; 
}

.photo-collage {
  display: grid;
  grid-template-columns: repeat(6, 1fr); 
  gap: 9px; 
}

.photo-collage img {
  display: block;
  max-width: 100%; 
  width: 100%;
  height: auto;
}

.photo-collage .trash-img, .photo-collage .dorm-trash {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  transition: filter 0.3s;
  animation: grayscaleAnimation 5.5s infinite alternate;
}

@keyframes grayscaleAnimation {
  0% {
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%);
  }
  100% {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
}

/*
.container1 {
  display: flex;
  padding: 10px;
  background-color: none;
  text-align:  center;
  justify-content:  space-evenly;
  cursor: url("https://img.icons8.com/external-icongeek26-linear-colour-icongeek26/64/external-camera-photography-icongeek26-linear-colour-icongeek26-1.png"), auto;
}
*/

.container2{
  display: flex;
  padding: none;
  background-color: none;
  justify-content: space-evenly;
  cursor: url("https://img.icons8.com/external-icongeek26-linear-colour-icongeek26/64/external-camera-photography-icongeek26-linear-colour-icongeek26-1.png"), auto;
} 

.container3 {
  display: flex;
  padding: 14px;
  background-color: rgb(0, 4, 37); 
  justify-content: space-evenly;
  cursor: url("https://img.icons8.com/external-icongeek26-linear-colour-icongeek26/64/external-camera-photography-icongeek26-linear-colour-icongeek26-1.png"), auto;
}

.down, .up {
  cursor: url("https://img.icons8.com/external-icongeek26-linear-colour-icongeek26/64/external-camera-photography-icongeek26-linear-colour-icongeek26-1.png"), auto;
}

.sky1, .sky2, .sky3 {
  max-width: 40%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.dormtrash1, .dormtrash2, .dormtrash3 {
  max-width: 19.855%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.streettrash1, .streettrash2, .streettrash3, .streettrash7 {
  max-width: 11.5%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.streettrash4, .streettrash5, .streettrash6, .streettrash8, .streettrash9, .streettrash10 {
  max-width: 19.855%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.item {
  margin: none;
  width: 300px;
  display: none;
}

.paragraph {
  width: 50%;
  padding: 130px;
  margin: 0 auto;
  justify-content: center; 
  align-items: center;
} 

.title {
  font-family: "termina", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 25px;
  text-align: center;
  color: rgb(2, 0, 108);
  letter-spacing: 1px;
  text-shadow: rgb(244, 255, 124) 10px 0 10px;
}

.describe {
  font-family: "graphie", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  text-align: justify;
  line-height: 1.7em;
  color: rgb(77, 77, 77);
}