body {
    font-family: "aktiv-grotesk", sans-serif;
    margin: 0;
    padding: 20px;
    background-color: whitesmoke;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 3px;
    justify-items: center;
}

img {
    width: 120px;
    height: auto;
    transition: transform 0.6s ease;
    image-rendering: pixelated;
}

img:hover {
    transform: scale(5.5); 
    cursor: zoom-in;
}

p {
    font-family: "aktiv-grotesk", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.top-text {
    font-size: 50px;
    color:blue;
}

.bottom-text {
    font-size: 25px;
    color:black;
    padding-top: 50px;
}
