body, html {
    font-family: Verdana, sans-serif;
    background-color: rgb(126, 175, 255);
}

h1 {
    color: rgb(0, 17, 255);
    text-align: center;
}

h3 {
    color: rgb(97, 0, 0);
    text-align: center;
}

p {
    color: rgb(0, 0, 0);
    text-align: center;
}

.entries-buttons {
    text-align: center;
}

.button {
    background-color: rgb(210, 233, 250);
    border: 1.5px solid #422800;
    border-radius: 25px;
    color: #d50000;
    cursor: pointer;
    display: inline-block;
    font-family: "indivisible", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 12px;
    padding: 0 10px;
    line-height: 25px;
    text-align: center;
    margin: 0 10px; 
}

.button:hover {
    background-color: rgb(248, 255, 122);
    color: #026e00;
}

.button:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}
