body, html {
    font-family: "soleil", sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-image: url("assets/tunnel.jpg");
}

.course-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "soleil", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 6pt;
    padding-top: 16px;
}

.sem {
    color: rgb(77, 77, 77);
    text-align: center;
}

.course {
    color: rgb(91, 91, 91);
    text-align: left;
    margin-left: 20px;
}

.name {
    color: rgb(91, 91, 91);
    text-align: right;
    margin-right: 40px;
}

.headers {
    max-width: 100%; 
    margin: 0 auto; 
    padding: 10px; 
    padding-left: 5%;
}

h1 {
    color: #f5f5f5;
    text-align: left;
    font-size: 10vw;
    font-family: "soleil", sans-serif;
    font-weight: 900;
    font-style: normal;
    line-height: 0.94em;
    padding: 7px;
    margin: 0; 
}

.extraordinary {
    letter-spacing: 3px;
}

h3 {
    color: rgb(0, 0, 0);
    text-align: left;
    font-size: 1.85vw;
    padding: 8px;
    padding-bottom: 5px;
    padding-left: 13px;
    margin: 0; 
}

p {
    color: rgb(0, 0, 0);
    text-align: left;
    font-size: 0.95vw;
    font-family: "soleil", sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 1.1em;
    padding: 2px;
    padding-bottom: 9px;
    padding-left: 10px;
    margin: 0 auto; 
}

.body-text {
    max-width: 100%; 
    margin: 0 auto; 
    padding: 9px;
}

.entries-buttons {
    text-align: center;
    width: 100%;
    padding-bottom: 20px;
}

.button {
    border-radius: 50%;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: "indivisible", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    padding: 20px;
    line-height: 1;
    text-align: center;
    margin: 0 8px;
    text-decoration: none;
}

.button:hover {
    background-color: rgb(142, 255, 141);
    color: #0051ff;
}

.button:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}

/* .balloons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.balloon1, .balloon2, .balloon3, .balloon4, .balloon5 {
    max-width: 12%;
    height: auto;
    margin: 0 50px;
    animation: rotateBalloon 11s linear infinite;
}

@keyframes rotateBalloon {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} */

/*
.hello-gif {
    text-align: center;
}

.hello-gif img {
    display: block;
    margin: 0 auto; 
    transform: scale(0.90);
} 
*/
