body, html {
    background-color: whitesmoke;
    cursor: auto;
}

.title {
    color: black;
    font-size: 30pt;
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    color: black;
    font-size: 15pt;
    text-align: center;
}