body, html {
    font-family: kazimirtext, sans-serif;
    cursor: auto;
}

.title {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1em;
}

.title1 {
    font-size: 30px;
    font-weight: 500;
    font-style: italic;
    color: #1500ff;
}

.title2 {
    font-size: 30px;
    font-weight: 500;
    font-style: italic;
    color: #ff5e00;
    letter-spacing: 1.1px;
}

.clock-options {
    bottom: 10px;
    right: 10px;
    position: fixed;
    z-index: 1000;
}

.menu-one,
.menu-two,
.menu-three {
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 5px;
    display: inline-block;
    margin-right: 10px; 
    letter-spacing: 0.2px;
}

.menu-one:hover,
.menu-two:hover,
.menu-three:hover {
    color: blue;
}

.clock-container-one,
.clock-container-two,
.clock-container-three {
    display: none;
}

.clock-container {
    display: flex;
    width: 100%;
    max-height: 90vh;
    margin-left: auto;
    margin-right: auto;
}

/* FIRST CLOCK */
.random-number-clock {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.number {
    position: fixed;
    font-size: 85px;
    font-weight: 600;
    color: black;
    top: 100px;
    left: 100px;
}

.edt-container {
    color: #1500ff;
    font-size: 85px;
    font-weight: 600;
}

.kst-container {
    color: #ff5e00;
    font-size: 85px;
    font-weight: 600;
}

@media screen and (max-width: 768px) {
    .number {
        font-size: 55px; 
    }
}

/* SECOND CLOCK */
.edt-clock {
    text-align: left;
    position: fixed;
    top: 0;
    left: 0;
}

.kst-clock {
    text-align: right;
    position: fixed;
    bottom: 110px;
    right: 0;
}

.edt-time,
.kst-time {
    display: inline-block;
    padding: 15px;
}

.nyc {
    font-size: 55px;
    font-weight: 500;
    font-style: normal;
    text-align: left;
    margin: 0;
    color: #1500ff;
    /* pointer-events: none; */
}

.edt-time h2 {
    font-size: 75px;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    color: #1500ff;
}

.edt-time p {
    font-size: 60px;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    color: #1500ff;
}

.seoul {
    font-size: 55px;
    font-weight: 500;
    font-style: normal;
    text-align: right;
    margin: 0;
    color: #ff5e00;
}

.kst-time h2 {
    font-size: 75px;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    color: #ff5e00;
}

.kst-time p {
    font-size: 60px;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    color: #ff5e00;
}

.hour,
.minutes,
.seconds,
.kst-hour,
.kst-minutes,
.kst-seconds {
    letter-spacing: 2.5px;
}

/* NYC TIME BASED D-DAY */
.d-day {
    font-family: kazimirtext, sans-serif;
    position: fixed;
    top: 265px; 
    left: 10px;
    text-align: center;
}

.d-day button {
    margin-top: 5px;
    font-family: kazimirtext, sans-serif;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.d-day label {
    font-weight: 600;
}

.d-day input {
    margin-right: 7px;
}

#d-day-countdown {
    font-size: 14px;
}

/* KOREA TIME BASED D-DAY */
.d-day-korea {
    font-family: kazimirtext, sans-serif;
    position: fixed;
    bottom: 80px; 
    right: 10px;
    text-align: center;
}

.d-day-korea button {
    margin-top: 5px;
    font-family: kazimirtext, sans-serif;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.d-day-korea p {
    line-height: -100%;
}

.d-day-korea label {
    font-weight: 600;
}

.d-day-korea input {
    margin-right: 7px;
}

#d-day-korea-countdown {
    font-size: 14px;
}

/* THIRD CLOCK */
/* EDT */
.edt-dial-clock {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 20px;
}
  
.hour-hand, 
.minute-hand, 
.second-hand {
    position: absolute;
    background: #1500ff;
    transform-origin: bottom center;
}
  
.hour-hand {
    width: 4px;
    height: 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
}
  
.minute-hand {
    width: 4px;
    height: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
}
  
.second-hand {
    width: 2px;
    height: 90px;
    background-color: red;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
}
  
/* KST */
.kst-dial-clock {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.kst-hour-hand, 
.kst-minute-hand, 
.kst-second-hand {
    position: absolute;
    background: #ff5e00;
    transform-origin: bottom center;
}
  
.kst-hour-hand {
    width: 4px;
    height: 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
}
  
.kst-minute-hand {
    width: 4px;
    height: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
}
  
.kst-second-hand {
    width: 1.5px;
    height: 90px;
    background-color: red;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -100%); 
}

.blue-numbers,
.orange-numbers {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.blue-numbers img,
.orange-numbers img {
    width: 15%;
    margin: 2px; 
    transform: scale(0.1);
}

/* EDT
.edt-min-outer {
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 100%;
    top: 50%;
    right: 60%;
    transform: translate(-50%,-50%) rotate(35deg);
}
  
.edt-min-hand {
    width: 100px;
    height: 2px;
    position: absolute;
    top: 99px;
    left: 100px;
    background-color: #1500ff;
}
  
.edt-hour-outer {
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 100%;
    position: fixed;
    top: 50%;
    right: 60%;
    transform: translate(-50%,-50%) rotate(95deg);
}
  
.edt-hour-hand {
    width: 60px;
    height: 4px;
    position: absolute;
    top: 98px;
    left: 100px;
    background-color: #1500ff;
}

KST
.kst-min-outer {
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 100%;
    position: fixed;
    top: 50%;
    left: 70%;
    transform: translate(-50%,-50%) rotate(35deg);
}
  
.kst-min-hand {
    width: 100px;
    height: 2px;
    position: absolute;
    top: 99px;
    left: 100px;
    background-color: #ff5e00;
}
  
.kst-hour-outer {
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 100%;
    position: fixed;
    top: 50%;
    left: 70%;
    transform: translate(-50%,-50%) rotate(95deg);
}
  
.kst-hour-hand {
    width: 60px;
    height: 4px;
    position: absolute;
    top: 98px;
    left: 100px;
    background-color: #ff5e00;
} */