body, html {
    font-family: "azo-sans-web", sans-serif;
    cursor: auto;
    margin: 0;
}

body.airplane-cursor, 
html.airplane-cursor {
    cursor: url(assets/korean-air.png), auto;
}

.title {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1em;
}

.title1 {
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
    color: #1500ff;
}

.title2 {
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
    color: #ff5e00;
    letter-spacing: 1.1px;
}

.clock-options {
    bottom: 10px;
    right: 10px;
    position: fixed;
    z-index: 1000;
}

.menu-one,
.menu-two,
.menu-three {
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 5px;
    display: inline-block;
    margin-right: 10px; 
    letter-spacing: 0.2px;
}

.menu-one:hover,
.menu-two:hover,
.menu-three:hover {
    color: #1500ff;
}

.clock-container-one,
.clock-container-two,
.clock-container-three {
    display: none;
}

.clock-container {
    display: flex;
    width: 100%;
    max-height: 90vh;
    margin-left: auto;
    margin-right: auto;
}

/* FIRST CLOCK */
.random-number-clock {
    display: flex;
    width: 100%;
    height: 100%;
    margin-bottom: 100px;
    padding-bottom: 100px;
}

.odd-numbers,
.even-numbers {
    position: absolute;
    top: 0;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.odd-numbers {
    padding-right: 15px;
    right: 0;
    text-align: right;
}

.even-numbers {
    padding-left: 15px;
    left: 0;
    text-align: left;
}

.number {
    font-size: 65px;
    font-weight: 400;
    color: black;
    margin: 10px;
}

.edt-container {
    font-size: 105px;
    font-weight: 600;
    color: #1500ff;
}

.kst-container {
    font-size: 105px;
    font-weight: 600;
    color: #ff5e00;
}

@media screen and (max-width: 768px) {
    .number {
        font-size: 25px;
    }

    .edt-container {
        font-size: 65px;
    }
    
    .kst-container {
        font-size: 65px;
    }
}

/* SECOND CLOCK */
.clock-container-two {
    cursor: url(assets/korean-air.png), auto;
}

.edt-clock,
.kst-clock {
    cursor: url(assets/korean-air.png), auto;
}

.edt-clock {
    text-align: left;
    position: fixed;
    top: 0;
    left: 0;
}

.kst-clock {
    text-align: right;
    position: fixed;
    bottom: 25px;
    right: 0;
}

.edt-time,
.kst-time {
    display: inline-block;
    padding: 15px;
}

.nyc {
    font-size: 55px;
    font-weight: 500;
    font-style: normal;
    text-align: left;
    margin: 0;
    color: #1500ff;
    /* pointer-events: none; */
}

.edt-time h2 {
    font-size: 65px;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    color: #1500ff;
}

.edt-time p {
    font-size: 60px;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    color: #1500ff;
}

.seoul {
    font-size: 55px;
    font-weight: 700;
    font-style: normal;
    text-align: right;
    margin: 0;
    color: #ff5e00;
}

.kst-time h2 {
    font-size: 65px;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    color: #ff5e00;
}

.kst-time p {
    font-size: 60px;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    color: #ff5e00;
}

.hour,
.minutes,
.seconds,
.kst-hour,
.kst-minutes,
.kst-seconds {
    letter-spacing: 2.3px;
}

/* NYC TIME BASED D-DAY */
.d-day {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#d-day-countdown {
    font-size: 18px;
}

/* THIRD CLOCK */
.clock-container-three {
    cursor: auto;
    display: none;
}

.edt-gradient,
.kst-gradient {
    flex: 1;
    min-height: 100px;
    border-radius: 0;
}

#edt-gradient {
    position: fixed;
    left: 0;
    width: 50%;
    height: 100vh;
}

#kst-gradient {
    position: fixed;
    right: 0;
    width: 50%;
    height: 100vh;
}