body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: black;
    cursor: url('assets/peace-dove1-pixel.png'), auto;
}

.button-container {
    position: fixed;
    top: 13px;
    right: 4px;
    left: 4px;
    z-index: 999;
}

.home {
    background-color: transparent;
    color: #ececec;
    cursor: pointer;
    display: inline-block;
    font-family: "termina", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    padding: 0 10px;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
}

.home {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.home:hover {
    color: rgb(229, 0, 0);
}

.original-photo {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
    z-index: 1; 
}

.paper-photo {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    object-fit: cover;
}

.paper-dove1,
.paper-dove2,
.paper-dove3,
.paper-dove4,
.paper-dove5 {
    position: absolute;
    width: 8%;
    height: auto;
    opacity: 0; 
    animation: fadeIn 0.2s ease-in-out 0.2s forwards; 
}

.paper-dove1 {
    top: 20%;
    left: 5%;
    z-index: 2;
}

.paper-dove2 {
    top: 30%;
    left: 40%;
    z-index: 2;
}

.paper-dove3 {
    top: 50%;
    left: 58%;
    z-index: 2;
}

.paper-dove4 {
    top: 70%;
    left: 80%;
    z-index: 2;
}

.paper-dove5 {
    top: 10%;
    left: 74%;
    z-index: 2;
}

.paper-dove1:hover,
.paper-dove2:hover,
.paper-dove3:hover,
.paper-dove4:hover,
.paper-dove5:hover {
    transform: scale(1.6);
    transition: transform 0.6s ease;
    filter: hue-rotate(90deg) brightness(108%) saturate(200%);
    cursor: grab;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
