body, html {
    margin: 0;
    height: 100vh;
    background-color: #040442;
    background-image: url(/assets/noisebkgd.png);
}

.container {
    position: relative; 
    text-align: center; 
}

h1 {
    font-family: "amandine", sans-serif;
    font-weight: 900;
    font-style: normal;
    color: white;
    font-size: 3vw;
    margin-top: 20px;
}

.paper {
    width: 80%;
    display: block;
    margin: 0 auto; 
    margin-top: 20px; 
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.paragraph {
    width: 45%;
    padding: 35px;
    margin: 0 auto;
    justify-content: center; 
    align-items: center;
    border: none;
}

/* .title {
    font-size: 29px;
    text-align: center;
    color: aliceblue;
    font-family: 'Arbutus Slab', serif;
    font-weight: 600;
} */

p {
    font-family: "sirba-web", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1vw;
    text-align: justify;
    line-height: 1.3em;
    color: aliceblue;
    margin-top: 40px;
}

