body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: auto;
}
/*
html {
    scroll-behavior: smooth;
}

section {
    width: 100%;
    height: 100vh;
}

#object1 {
    width: 53%;
}

#object2 {
    width: 53%;
}
*/

.button-container {
    position: fixed;
    top: 7px;
    right: 4px;
    left: 4px;
    z-index: 999;
}
  
.forward {
    background-color: lightgoldenrodyellow;
    border: 1.5px solid #422800;
    border-radius: 25px;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-family: "indivisible", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 12px;
    padding: 0 10px;
    line-height: 25px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 4px;
}
  
.backward {
    background-color: lightgoldenrodyellow;
    border: 1.5px solid #422800;
    border-radius: 20px;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-family: "indivisible", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 12px;
    padding: 0 10px;
    line-height: 25px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 4px;
}
  
.forward:hover, .backward:hover {
    background-color: rgb(170, 232, 255);
    color: #b10000;
}  

/*     cursor: url('assets/ball-pen.png'), auto; */

h1 {
    font-family: "mixta-didone", serif;
    font-weight: 800;
    font-style: normal;
    font-size: 32px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.object-container {
    margin: auto;
}

.object-container img {
    width: 53%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    transition: opacity 3s ease;
}

.object-container img:hover {
    opacity: 0;
    transition: opacity 0s;
}

.object-container img:nth-child(1) {
    transition-duration: 0;
    transition: opacity 3s ease;
}

.object-container img:nth-child(2) {
    transition-duration: 0;
    transition: opacity 3s ease;
}

.object-container img:nth-child(3) {
    transition-duration: 0;
    transition: opacity 3s ease;
}

.object-container img:nth-child(4) {
    transition-duration: 0;
    transition: opacity 3s ease;
}

.grid-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.topleft-half {
    background-color: #dedede;
    flex: 1;
    width: 50%;
}

.topright-half {
    background-color: #3c3c3c;
    flex: 1;
    width: 50%;

}

.bottom-half {
    background-color: #7f7f7f;
    flex: 1;
    width: 100%;
}

.divider {
    position: absolute;
    background-color: black;
}

.vertical-divider {
    top: 0;
    left: 50%;
    height: 100%;
    width: 10px;
    transform: translateX(-50%);
    background-color: black;
}

.horizontal-divider {
    top: 50%;
    left: 0;
    width: 100%;
    height: 10px;
    transform: translateY(-50%);
    background-color: black;
}

.horizontal-divider2 {
    top: 23%;
    left: 50%;
    width: 50%;
    height: 10px;
    transform: translateY(-50%);
    background-color: black;
}

.left-divider {
    top: 0;
    left: 23%;
    height: 100%;
    width: 10px;
    transform: translateX(-50%);
    background-color: black;
}

.short-divider {
    top: 50%;
    left: 75%;
    height: 50%;
    width: 10px;
    transform: translateX(-50%);
    background-color: black;
}

.phases {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
}

.phases h1 {
    margin: 0;
}