body {
    background-color: rgb(0, 9, 57);
    background-image: url(../entry3/assets/noisebkgd.png);
}

.button-container {
    position: fixed;
    top: 13px;
    right: 4px;
    left: 4px;
    z-index: 999;
}

.backward, .home, .forward {
    background-color: transparent;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-family: "termina", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    padding: 0 10px;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
}

.backward {
    position: absolute;
    left: 11px;
}

.home {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.forward {
    position: absolute;
    right: 11px;
}

.forward:hover, .backward:hover, .home:hover {
    color: #dd0000;
}

h1 {
    font-family: Verdana, sans-serif;
    font-style: italic;
    font-size: 57px;
    text-align: center;
    color: aliceblue;
    font-weight: 700;
}

h6 {
    text-align: center;
}

.link {
    font-size: 23px;
    color: rgb(224, 229, 255);
    text-align: center;
}

a {
    display: block;
}

p, .body {
    font-size: 17px;
    text-align: justify;
    color: aliceblue;
    font-family: 'Arbutus Slab', serif;
    line-height: 1.5em;
}

.paragraph {
    width: 40%;
    padding: 25px;
    margin: 0 auto;
    justify-content: center; 
    align-items: center;
    border: none;
}

.title {
    font-size: 29px;
    text-align: center;
    color: aliceblue;
    font-family: 'Arbutus Slab', serif;
    font-weight: 600;
}

.click {
    font-size: 13px;
    text-align: center;
    font-family: 'Arbutus Slab', serif;
}

.photo-container {
    display: flex;
    align-items: center; 
    justify-content: center;
}

.image {
    flex: 1;
    max-width: 98%;
    text-align: center;
    padding-left: 5px;
    padding-bottom: 5px;
}

.image img {
    max-width: 100%;
    height: auto;
    display: block;

}

.cello-vid {
    align-items: center;
    display: block;
    margin: 0 auto;
    padding: 3px;
}