body, html {
    max-height: 100%;
    margin: 0;
    padding: 0;
    cursor: auto;
}

body {
    background: none;
}

html {
    background-image: url('assets/color-smudge-reverse.jpg');
    background-size: contain;
    background-position: center;
    /* background-repeat: repeat-x; */
}

.button-container {
    position: fixed;
    top: 7px;
    right: 4px;
    left: 4px;
    z-index: 999;
}
  
.forward {
    background-color: lightgoldenrodyellow;
    border: 1.5px solid #422800;
    border-radius: 25px;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-family: "indivisible", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 12px;
    padding: 0 10px;
    line-height: 25px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 4px;
}
  
.backward {
    background-color: lightgoldenrodyellow;
    border: 1.5px solid #422800;
    border-radius: 20px;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-family: "indivisible", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 12px;
    padding: 0 10px;
    line-height: 25px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 4px;
}
  
.forward:hover, .backward:hover {
    background-color: rgb(170, 232, 255);
    color: #b10000;
}  

h1 {
    font-family: "neulis-neue", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 70px;
    text-align: center;
    padding: 10px;
    color: rgb(255, 255, 255);
    /*
    border-radius: 15px;
    max-width: 18%;
    background-color: aliceblue; 
    */
}

.square-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.square1 {
    width: 40px;
    height: 40px;
    background-color: rgb(255, 255, 244);
    margin: 13px;
    display: inline-block;
}

/*
.square2 {
    width: 40px;
    height: 40px;
    background-color: rgb(21, 21, 20);
    margin: 15px;
    display: inline-block;
}
*/