body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: auto;
    background-image: url('assets/chalkboard.jpeg');
    background-size: cover;
    background-position: center;
}

.button-container {
    position: fixed;
    top: 7px;
    right: 4px;
    left: 4px;
    z-index: 999;
}
  
.forward {
    background-color: lightgoldenrodyellow;
    border: 1.5px solid #422800;
    border-radius: 25px;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-family: "indivisible", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 12px;
    padding: 0 10px;
    line-height: 25px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 4px;
}
  
.backward {
    background-color: lightgoldenrodyellow;
    border: 1.5px solid #422800;
    border-radius: 20px;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-family: "indivisible", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 12px;
    padding: 0 10px;
    line-height: 25px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 4px;
}
  
.forward:hover, .backward:hover {
    background-color: rgb(170, 232, 255);
    color: #b10000;
}  

h1 {
    font-family: "feltro-texture-1", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 79px;
    text-align: center;
    padding-top: 9px;
    color: rgb(255, 255, 255);
    /*
    border-radius: 15px;
    max-width: 18%;
    background-color: aliceblue; 
    */
}

.square-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 1;
}
  
.square1,
.square2,
.square3,
.square4,
.square5 {
  width: 60px;
  height: 60px;
  margin: 10px;
  display: inline-block;
  animation: popInOut 10s infinite alternate ease-in-out;
  box-shadow: 2px 2px 6px black;
  z-index: 1;
}

.square1 {
  background-color: #FFF740;
}

.square2 {
  background-color: orange;
}

.square3 {
  background-color: #7AFCFF;
}

.square4 {
  background-color: rgb(255, 134, 183);
}

.square5 {
  background-color: #adf080;
}

@keyframes popInOut {
    0% {
      opacity: 0%;
    }
    50% {
      opacity: 50%;
    }
    100% {
      opacity: 100%;
    }
}

.paragraph {
    position: relative;
    width: 50%;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 1px;
    padding-bottom: 5px;
    margin: 0 auto;
    justify-content: center; 
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 2;
    border-radius: 30px;
    border: thick double #422800;
}

.title {
    font-family: "neulis-neue", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 35px;
    text-align: center;
    color: #FF4600;
}

.describe {
    font-family: "neulis-neue", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    color: rgb(0, 30, 255);
    text-align: justify;
    line-height: 1.4em;
}

.stack {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}