body {
    background-color: rgb(23, 30, 100);
    font-family: Verdana, sans-serif;
}

.button-container {
    position: fixed;
    top: 13px;
    right: 4px;
    left: 4px;
    z-index: 999;
}

.backward, .home, .forward {
    background-color: transparent;
    color: #ececec;
    cursor: pointer;
    display: inline-block;
    font-family: "termina", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    padding: 0 10px;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
}

.backward {
    position: absolute;
    left: 11px;
}

.home {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.forward {
    position: absolute;
    right: 11px;
}

.forward:hover, .backward:hover, .home:hover {
    color: #dd0000;
}

h3 {
    font-size: 17pt;
    text-align: center;
    color: aliceblue;
}

h2 {
    font-size: 45pt;
    text-align: center;
    color: aliceblue;
}

p {
    font-size: 15px;
    text-align: center;
}

.coral0 {
    color: #ff1818;
}

.coral1 {
    color: #ff3a3a;
}

.coral2 {
    color: #ff5353;
}

.coral3 {
    color: #ff6666;
}

.coral4 {
    color: #ff7979;
}

.coral5 {
    color: #ff8c8c;
}

.coral6 {
    color: #ffa0a0;
}

.coral7 {
    color: #ffb3b3;
}

.coral8 {
    color: #ffc6c6;
}

.coral9 {
    color: #ffe3e3;
}

.coral10 {
    color: #fdfdfd;
}

.airplane {
    text-align: center;
    color: rgb(143, 202, 253);
    font-size: 15pt;
}

.distorted {
    text-align: justify;
    color: rgb(255, 60, 60);
}

.tunnel {
    text-align: center;
    color: rgb(255, 255, 255);  
    font-size: 10.5pt;
}

.footer {
    font-size: 22pt;
    font-style: italic;
    font-variant: small-caps;
    text-align: center;
    margin-top: 70px;
}

.footer2 {
    font-size: 22pt;
    font-style: italic;
    text-align: center;
    font-variant: small-caps;
    padding: 10px;
}

.paragraph {
    width: 55%;
    padding: 33px;
    margin: 0 auto;
    justify-content: center; 
    align-items: center;
}

.title {
    font-size: 30px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Verdana, sans-serif;
}

p {
    font-size: 16px;
    text-align: justify;
    color: rgb(255, 255, 255);
    font-family: Verdana, sans-serif;
    line-height: 1.3em;
}
