body, html {
    font-family: monospace;
    cursor: url('assets/pointing-finger.png'), auto;
}

.center-line {
    border: none;
    border-top: 1.5px solid blue;
    width: 8800px; 
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%);
}

.text-container {
    position: absolute;
    top: 50%;
    left: 15%; 
    transform: translate(-50%, -50%);
    text-align: left;
    z-index: 1; 
}

h1 {
    font-size: 16pt;
    font-weight: 400;
    font-style: normal;
}

p {
    font-size: 10pt;
    font-weight: 400;
    font-style: normal;
}

.image-container {
    text-align: center;
    position: absolute;
    width: 8400px;
    top: 50%;
    left: 550px;
    transform: translateY(-50%);
}

.image-container img {
    filter: grayscale(100%); 
    transition: filter 0.2s ease; 
}

.image-container img:hover {
    filter: grayscale(0%);
}

.image-wrapper {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 380px;
}

.image-wrapper img {
    vertical-align: middle;
}

.image-text1 {
    font-size: 10pt;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    position: absolute;
    bottom: 270px; 
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    z-index: 1;
}

.image-text2 {
    font-size: 10pt;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    position: absolute;
    bottom: 230px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    z-index: 1;
}

.story1,
.story2,
.story3,
.story4,
.story5,
.story6,
.story7,
.story8,
.story9,
.story10,
.story11,
.story12,
.story13,
.story14 {
    font-size: 9pt;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    line-height: 1.4;
    position: absolute;
    bottom: -295px;
    left: 60%;
    transform: translateX(-50%);
    opacity: 0;
    z-index: 1;
}

.image-text1,
.image-text2,
.story1,
.story2,
.story3,
.story4,
.story5,
.story6,
.story7,
.story8,
.story9,
.story10,
.story11,
.story12,
.story13,
.story14 {
    width: 400px;
}

.image-wrapper:hover .image-text1,
.image-wrapper:hover .image-text2,
.image-wrapper:hover .story1,
.image-wrapper:hover .story2,
.image-wrapper:hover .story3,
.image-wrapper:hover .story4,
.image-wrapper:hover .story5,
.image-wrapper:hover .story6,
.image-wrapper:hover .story7,
.image-wrapper:hover .story8,
.image-wrapper:hover .story9,
.image-wrapper:hover .story10,
.image-wrapper:hover .story11,
.image-wrapper:hover .story12,
.image-wrapper:hover .story13,
.image-wrapper:hover .story14 {
    opacity: 1; 
}

/* .image-container img {
    cursor: url('assets/ear.png'), auto;
} */

/* .sdcard,
.mixtape,
.cd-player,
.iriver-mp3,
.mickey-mp3,
.iphone3gs,
.galaxy-m,
.lg-slider,
.ipod-nano,
.ipod-touch,
.iphone6s,
.iphone8plus,
.iphonexsmax,
.iphone13promax {
    width: auto;
    height: 120px;
} */

.sdcard {
    width: 75%; 
    height: auto;
}

.mixtape {
    width: 100%; 
    height: auto;
}

.cd-player {
    width: 100%; 
    height: auto;
}

.iriver-mp3 {
    width: 90%; 
    height: auto;
}

.mickey-mp3 {
    width: 82%; 
    height: auto;
}

.iphone3gs {
    width: 100%; 
    height: auto;
}

.galaxy-m {
    width: 100%; 
    height: auto;
}

.lg-slider {
    width: 101%; 
    height: auto;
}

.ipod-nano {
    width: 92%; 
    height: auto;
}

.ipod-touch {
    width: 110%; 
    height: auto;
}

.iphone6s {
    width: 125%; 
    height: auto;
}

.iphone8plus {
    width: 133%; 
    height: auto;
}

.iphonexsmax {
    width: 145%; 
    height: auto;
}

.iphone13promax {
    width: 160%; 
    height: auto;
}

.old-earbuds {
    width: 8%;
    display: block;
    margin: 0 auto;
}

@media only screen and (max-width: 768px) {
    body {
        min-height: 5000px; 
        max-width: fit-content;
    }

    .center-line {
        opacity: 0;
    }

    .vertical-line {
        height: 10000px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 7%; 
        border-left: 2px solid blue;
    }

    .text-container {
        width: 80%;
        left: 50%;
        top: 20%; 
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .image-container {
        width: 70%;
        left: 50%;
        bottom: 60%; 
        transform: translate(-50%, -50%);
    }

    .image-wrapper {
        margin-right: 0;
        margin-bottom: 500px;
    }

    .image-text1,
    .image-text2,
    .story1,
    .story2,
    .story3,
    .story4,
    .story5,
    .story6,
    .story7,
    .story8,
    .story9,
    .story10,
    .story11,
    .story12,
    .story13,
    .story14 {
        text-align: center;
        width: 300px;
    }

    .image-text1 {
        font-size: 10pt;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        position: absolute;
        bottom: 270px; 
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        z-index: 1;
    }
    
    .image-text2 {
        font-size: 10pt;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        position: absolute;
        bottom: 230px;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        z-index: 1;
    }
    
    .story1,
    .story2,
    .story3,
    .story4,
    .story5,
    .story6,
    .story7,
    .story8,
    .story9,
    .story10,
    .story11,
    .story12,
    .story13,
    .story14 {
        font-size: 9pt;
        font-weight: 400;
        font-style: normal;
        text-align: left;
        line-height: 1.4;
        position: absolute;
        bottom: -310px;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        z-index: 1;
    }

    .sdcard,
    .iriver-mp3,
    .mickey-mp3,
    .ipod-nano,
    .ipod-touch,
    .iphone3gs,
    .iphone6s,
    .iphone8plus,
    .iphonexsmax,
    .iphone13promax {
        width: 100%;
        height: auto;
    }
}