body, html {
    background-color: whitesmoke;
    font-family: "aktiv-grotesk-georgian", sans-serif;
}

.button-container {
    position: fixed;
    top: 11px;
    right: 4px;
    left: 4px;
    z-index: 999;
}

.backward, .home, .forward {
    background-color: transparent;
    color: #808080;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    padding: 0 10px;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
}

.backward {
    position: absolute;
    left: 11px;
}

.home {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.forward {
    position: absolute;
    right: 11px;
}

.forward:hover, .backward:hover, .home:hover {
    color: #dd0000;
}

h1 {
    font-size: 2.7em;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    color: blue;
}

p {
    margin: 0 auto;
    text-align: center;
    width: 40%;
    margin-top: 40px;
}

.image-container {
    text-align: center;
    /* margin-top: 40px; */
    position: relative;
}

.sdcard,
.iriver-mp3,
.mickey-mp3,
.ipod-nano,
.ipod-touch,
.iphone3gs,
.iphone6s,
.iphone8plus,
.iphonexsmax,
.iphone13promax {
    width: 10%; 
    height: auto;
    position: absolute;
}

.sdcard { transform: rotate(-10deg); top: 20px; left: 0; }
.iriver-mp3 { transform: rotate(0deg); top: 10px; left: 20%; }
.mickey-mp3 { transform: rotate(15deg); top: 30px; left: 40%; }
.ipod-nano { transform: rotate(-5deg); top: 15px; left: 60%; }
.ipod-touch { transform: rotate(10deg); top: 25px; left: 80%; }
.iphone3gs { transform: rotate(0deg); top: 15px; left: 100%; }
.iphone6s { transform: rotate(-10deg); top: 30px; left: 120%; }
.iphone8plus { transform: rotate(5deg); top: 20px; left: 140%; }
.iphonexsmax { transform: rotate(-2deg); top: 10px; left: 160%; }
.iphone13promax { transform: rotate(-8deg); top: 20px; left: 180%; }
