body, html {
    background-color: whitesmoke;
    font-family: "aktiv-grotesk-georgian", sans-serif;
}

/* .button-container {
    position: fixed;
    top: 11px;
    right: 4px;
    left: 4px;
    z-index: 999;
}

.backward, .home, .forward {
    background-color: transparent;
    color: #808080;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    padding: 0 10px;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
}

.backward {
    position: absolute;
    left: 11px;
}

.home {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.forward {
    position: absolute;
    right: 11px;
}

.forward:hover, .backward:hover, .home:hover {
    color: #dd0000;
} */

h1 {
    font-size: 2.7em;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: blue;
}

p {
    font-size: 1em;
    margin: 0 auto;
    text-align: center;
    width: 40%;
    margin-top: 40px;
}

.center-line {
    border: none;
    border-top: 2px solid blue;
    width: 340%; 
    margin: auto;
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%);
}

.image-container {
    text-align: center;
    position: relative; 
    margin: 10px;
}

.sdcard {
    width: 9%; 
    height: auto;
    position: absolute; 
    margin: 25px; 
    margin-top: 150px;
    cursor: grab;
}

.mixtape {
    width: 20%; 
    height: auto;
    position: absolute; 
    margin: 25px; 
    margin-top: 140px;
    cursor: grab;
}

.cd-player {
    width: 35%; 
    height: auto;
    position: absolute; 
    margin: 25px; 
    margin-top: 70px;
    cursor: grab;
}

.iriver-mp3 {
    width: 11%; 
    height: auto;
    position: absolute; 
    margin: 25px; 
    margin-top: 135px;
    cursor: grab;
}

.mickey-mp3 {
    width: 11%; 
    height: auto;
    position: absolute; 
    margin: 25px; 
    margin-top: 140px;
    cursor: grab;
}

.iphone3gs {
    width: 16%; 
    height: auto;
    position: absolute; 
    margin: 25px; 
    margin-top: 90px;
    cursor: grab;
}

.galaxy-m {
    width: 23%; 
    height: auto;
    position: absolute; 
    margin: 25px; 
    margin-top: 100px;
    cursor: grab;
}

.lg-slider {
    width: 25%; 
    height: auto;
    position: absolute; 
    margin: 25px; 
    margin-top: 100px;
    cursor: grab;
}

.ipod-nano {
    width: 16%; 
    height: auto;
    position: absolute; 
    margin: 25px; 
    margin-top: 100px;
    cursor: grab;
}

.ipod-touch {
    width: 20%; 
    height: auto;
    position: absolute; 
    margin: 25px; 
    margin-top: 90px;
    cursor: grab;
}

.iphone6s {
    width: 19%; 
    height: auto;
    position: absolute; 
    margin: 25px; 
    margin-top: 90px;
    cursor: grab;
}

.iphone8plus {
    width: 22%; 
    height: auto;
    position: absolute; 
    margin: 25px; 
    margin-top: 100px;
    cursor: grab;
}

.iphonexsmax {
    width: 20%; 
    height: auto;
    position: absolute; 
    margin: 25px; 
    margin-top: 100px;
    cursor: grab;
}

.iphone13promax {
    width: 23%; 
    height: auto;
    position: absolute; 
    margin: 25px; 
    margin-top: 100px; 
    cursor: grab; 
}

.sdcard { transform: rotate(-9deg); top: 65px; left: 0;}
.mixtape { transform: rotate(3deg); top: 65px; left: 15%;}
.cd-player { transform: rotate(-5deg); top: 65px; left: 40%;}
.iriver-mp3 { transform: rotate(0deg); top: 65px; left: 79%;}
.mickey-mp3 { transform: rotate(5deg); top: 65px; left: 97%;}
.iphone3gs { transform: rotate(-2deg); top: 5px; left: 115%;}
.galaxy-m { transform: rotate(2deg); top: -15px; left: 135%;}
.lg-slider { transform: rotate(-1deg); top: 45px; left: 162%;}
.ipod-nano { transform: rotate(-5deg); top: 50px; left: 192%;}
.ipod-touch { transform: rotate(4deg); top: 10px; left: 212%;}
.iphone6s { transform: rotate(-5deg); top: -45px; left: 237%;}
.iphone8plus { transform: rotate(3deg); top: -135px; left: 262%;}
.iphonexsmax { transform: rotate(-2deg); top: -135px; left: 292%;}
.iphone13promax { transform: rotate(5deg); top: -145px; left: 320%;}

.old-earbuds {
    width: 8%;
    display: block;
    margin: 0 auto;
}

.timeline {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-30%);
    padding: 50px;
    border-radius: 10px;
    overflow-x: auto;
    white-space: nowrap;
    opacity: 100%;
    color: gray;
}

.timeline-item {
    display: inline-block;
    vertical-align: top;
    width: auto;
    margin-right: 95px;
}

.timeline-date {
    font-weight: bold;
    margin-bottom: 20px;
    display: block; 
}

.timeline-content {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px; 
}