body {
    /* font-family: "aktiv-grotesk", sans-serif; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #d2ebff;
}

.main-manhole {
    width: 200px; 
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.main-manhole:hover {
    transform: scale(1.1);
}

.typing-text {
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid black; 
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-cursor {
    from { border-right-color: black; }
    to { border-right-color: transparent; }
}

.typing {
    animation: typing 4s steps(60, end), blink-cursor 0.75s step-end infinite;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    width: 0;
}