body {
    background-color: salmon;
    font-family: Verdana, sans-serif;
}

h1 {
    font-size: 40pt;
    text-align: center;
}

pre {
    color: white;
}

h5 {
    text-align: center;
}

p {
    font-size: 20px;
}








