body {
    background-color: #00B9FF;
    /*     cursor: url('cursor.png'), auto;*/
}

.button-container {
    z-index: 999;
    padding: 10px;
}

.backward, .home, .forward {
    background-color: transparent;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-family: "termina", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    padding: 0 10px;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
}

.backward {
    position: absolute;
    left: 11px;
}

.home {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.forward {
    position: absolute;
    right: 11px;
}

.forward:hover, .backward:hover, .home:hover {
    color: #dd0000;
}

h1 {
    font-family: 'Gloock', serif;
    font-size: 78pt;
    text-align: center;
    letter-spacing: 2px;
    color: #FF4600;
    text-shadow: 0 0 100px #ffffff;
    position: relative;
    transition: transform 0.85s ease;
    margin: 0;
}

.reflect-text:hover {
    transform: scaleY(-1);
    cursor: pointer;
}

.reflected-text {
    transform: scaleY(-1);
    cursor: pointer;
}

.reflected-text:hover {
    transform: scale3d(1.3, 1.3, 1.3);
    cursor: pointer;
}

.movingtext {
    font-size: 21px;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    white-space: nowrap;
    overflow: hidden;
    animation: moveLeft 7s linear; 
}

@keyframes moveLeft {
    0% { transform: scale(7); }
    100% { transform: scale(1); }
}

.imgfilters1 img, .imgfilters2 img, .imgfilters3 img {
    max-width: 20%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    display: block;
    padding: 20px;
    margin: 0 auto;
}

.imgfilters1 img:hover {
    filter: saturate(1.2);
    cursor: help;
}

.imgfilters2 img:hover {
    filter: hue-rotate(90deg);
    cursor: help;
}

.imgfilters3 img:hover {
    filter: saturate(1.2);
    cursor: help;
}

.phone1hover {
    max-width: 20%;
    display: inline-block;
    margin: 0 auto;
    padding: 20px 0 20px 0;
    border-radius: 40%;
    transition: opacity 1.2s ease;
}  

.phone2hover {
    max-width: 20%;
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    border-radius: 40%;
    transition: opacity 1.2s ease;
}

.phone3hover {
    max-width: 20%;
    display: inline-block;
    margin: 0 auto;
    padding: 20px 0 20px 0;
    border-radius: 40%;
    transition: opacity 1.2s ease;
}

.phone1hover:hover,.phone2hover:hover, .phone3hover:hover {
    opacity: 0;
    cursor: pointer;
}

.image-container {
    display: flex;
    text-align: center;
}

.phone1 {
    max-width: 20%;
    display: inline-block;
    margin: 0 auto;
    padding: 20px 0 20px 0;
    border-radius: 40%;
}

/*
.phone1nofinger {
    max-width: 20%;
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    transition: opacity 1.2s ease;
}  

.phone1nofinger:hover,.phone2outlined:hover {
    opacity: 0;
    cursor: pointer;
} */

.phone2 {
    max-width: 20%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0 20px 0;
    border-radius: 40%;
}

/*
.phone2outlined {
    max-width: 20%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 0 15px 0;
    transition: opacity 1.2s ease;
}
*/

.phone3 {
    max-width: 20%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0 20px 0;
    border-radius: 40%;
}

.image img {
    display: block;
    max-width: 20%;
}

image {
    max-width: 20%;
}

.lake-vid {
    max-width: 95%;
    height: auto;
    align-items: center;
    display: block;
    margin: 0 auto;
    scale: 92%;
    filter: saturate(1.2);
    border-radius: 50%;
}

.title {
    font-family: 'Gloock', serif;
    font-size: 30px;
    letter-spacing: 2px;
    text-align: center;
    color: #FF4600;
    text-shadow: 0 0 20px #ffffff;
}

.paragraph {
    font-family: 'Libre Baskerville', serif;
    width: 50%;
    padding: 150px;
    margin: 0 auto;
    justify-content: center; 
    align-items: center;
}

.describe {
    font-size: 18px;
    font-family: 'Libre Baskerville', serif;
    text-align: justify;
    line-height: 1.7em;
    color: aliceblue;
}

.blackimg {
    text-align: center;
    scale: 105%;
    padding: 20px;
    border-radius: 50%;
}

.screentxt {
    text-align: center;
    font-family: 'Libre Baskerville', serif;
}