body, html {
  margin: 0;
  height: 100vh;
  background-image: url("assets/noisebkgd.jpg");
  cursor: none;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.container1, .container2, .container3, .container4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.begin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  /* cursor: pointer; */
  animation: moveButton 3s infinite;
}

.begin:hover {
  animation: moveButton 3s infinite;
}

/* Paper dove 1 */
.paper-dove1 {
  width: 160px;
  height: auto;
  /* cursor: pointer; */
  transition: transform 8s ease; 
  animation: moveRandom1 10s infinite alternate;
}

@keyframes moveRandom1 {
  0% {
      transform: translateX(-50%) translateY(50%);
  }
  25% {
      transform: translateX(-30%) translateY(-100%);
  }
  50% {
      transform: translateX(20%) translateY(200%);
  }
  75% {
      transform: translateX(0%) translateY(-50%);
  }
  100% {
      transform: translateX(-50%) translateY(50%);
  }
}

.paper-dove1:hover {
  filter: hue-rotate(90deg) brightness(108%) saturate(200%);
}

/* Paper dove 5 */
.paper-dove5 {
  width: 160px;
  height: auto;
  /* cursor: pointer; */
  transition: transform 8s ease; 
  animation: moveRandom5 12s infinite alternate;
}

@keyframes moveRandom5 {
  0% {
      transform: translateY(-150%);
  }
  25% {
      transform: translateY(-50%) translateX(100%);
  }
  50% {
      transform: translateY(50%) translateX(-150%);
  }
  75% {
      transform: translateY(150%) translateX(50%);
  }
  100% {
      transform: translateY(-150%);
  }
}

/* Paper dove 3 */
.paper-dove3 {
  width: 150px;
  height: auto;
  /* cursor: pointer; */
  transition: transform 8s ease; 
  animation: moveRandom3 14s infinite alternate;
}

@keyframes moveRandom3 {
  0% {
      transform: translateY(200%) translateX(-100%);
  }
  25% {
      transform: translateY(50%) translateX(150%);
  }
  50% {
      transform: translateY(-50%) translateX(-50%);
  }
  75% {
      transform: translateY(-150%) translateX(100%);
  }
  100% {
      transform: translateY(150%) translateX(-200%);
  }
}

.paper-dove3:hover {
  filter: hue-rotate(90deg) brightness(108%) saturate(200%);
}

/* Paper dove 4 */
.paper-dove4 {
  width: 160px;
  height: auto;
  /* cursor: pointer; */
  transition: transform 8s ease; 
  animation: moveRandom4 16s infinite alternate;
}

@keyframes moveRandom4 {
  0% {
      transform: translateX(50%) translateY(-150%);
  }
  25% {
      transform: translateX(200%) translateY(50%);
  }
  50% {
      transform: translateX(-50%) translateY(-50%);
  }
  75% {
      transform: translateX(100%) translateY(200%);
  }
  100% {
      transform: translateX(50%) translateY(-150%);
  }
}

/* Paper dove 2 */
.paper-dove2 {
  width: 140px;
  height: auto;
  /* cursor: pointer; */
  transition: transform 8s ease; 
  animation: moveRandom5 20s infinite alternate;
}

@keyframes moveRandom5 {
  0% {
      transform: translateX(50%) translateY(150%);
  }
  25% {
      transform: translateX(-200%) translateY(50%);
  }
  50% {
      transform: translateX(-50%) translateY(-50%);
  }
  75% {
      transform: translateX(100%) translateY(150%);
  }
  100% {
      transform: translateX(50%) translateY(-200%);
  }
}

/* Cursor Tracer */
#tracer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;
}

.dot {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: aliceblue;
  opacity: 0.65;
  transform: translate(-50%, -50%);
  filter: blur(1.8px);
}

.dot:nth-child(1),
.dot:nth-child(2) {
  background: linear-gradient(180deg, royalblue 0%, aliceblue 100%);
}

.dot:nth-child(3),
.dot:nth-child(4),
.dot:nth-child(5) {
  background: linear-gradient(180deg, aliceblue 0%, rgb(119, 145, 224) 100%);
}

.dot:nth-child(1) {
  opacity: 0.5;
}

.dot:nth-child(2) {
  opacity: 0.4;
}

.dot:nth-child(3) {
  opacity: 0.3;
}

.dot:nth-child(4) {
  opacity: 0.2;
}

.dot:nth-child(5) {
  opacity: 0.1;
}