body, html {
  margin: 0;
  height: 100vh;
  background-image: url("assets/noisebkgd.png");
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.begin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  animation: moveButton 3s infinite;
}

.begin:hover {
  animation: moveButton 3s infinite;
}

/* Paper dove */
.paper-dove {
  width: 260px;
  height: auto;
  cursor: pointer;
  transition: transform 8s ease; 
}

.paper-dove:hover {
  transform: translateX(-350%); 
}

@keyframes moveButton {
    0% {
        transform: translateX(0);
        text-shadow: 0 0 10px rgba(232, 232, 232, 0.8); 
    }
    50% {
        transform: translateX(70px);
        text-shadow: 0 0 35px rgba(232, 232, 232, 0.8); 
    }
    100% {
        transform: translateX(0);
        text-shadow: 0 0 10px rgba(232, 232, 232, 0.8);
    }
}

/* Cursor Tracer */
#tracer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;
}

.dot {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: aliceblue;
  opacity: 0.65;
  transform: translate(-50%, -50%);
  filter: blur(1.8px);
}

.dot:nth-child(1),
.dot:nth-child(2) {
  background: linear-gradient(180deg, royalblue 0%, aliceblue 100%);
}

.dot:nth-child(3),
.dot:nth-child(4),
.dot:nth-child(5) {
  background: linear-gradient(180deg, aliceblue 0%, rgb(119, 145, 224) 100%);
}

.dot:nth-child(1) {
  opacity: 0.5;
}

.dot:nth-child(2) {
  opacity: 0.4;
}

.dot:nth-child(3) {
  opacity: 0.3;
}

.dot:nth-child(4) {
  opacity: 0.2;
}

.dot:nth-child(5) {
  opacity: 0.1;
}
